<form method="post" action="{{ path('app_service_delete', {'id': service.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer cet service?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
    <button class="btn btn-danger kl-bouton"><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</button>
</form>
