{% extends 'base.html.twig' %}

{% block title %}Edition Service{% endblock %}

{% block body %}
    <h1>Edition Service</h1>

    {{ include('service/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_service_index') }}" class="btn btn-primary kl-bouton"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('service/_delete_form.html.twig') }}
{% endblock %}
