{% extends 'base.html.twig' %}

{% block title %}Nouveau Service{% endblock %}

{% block body %}
    <h1>Création Nouveau Service</h1>

    {{ include('service/_form.html.twig') }}

    <a href="{{ path('app_service_index') }}" class="btn btn-primary kl-bouton"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
