/* body{
    background-image:url('../image/logo_dgsr.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    filter:alpha(opacity=50);
    opacity: 0.9;
    -moz-opacity:1;
} */

.arriere{
    /* background-image:url('../image/logo_dgsr.png'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* filter:alpha(opacity=50);
    opacity: 0.9;
    -moz-opacity:1; */
}

.avant{
    background-image:url('/image/fond_trano.png');
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    background-position: center;
    filter:alpha(opacity=50);
    opacity: 1;
    -moz-opacity:1;
}

.image-login{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    position: absolute;
    margin-top: -75px;
    padding-top: -75px;
    align-items: center;
    align-content: center;
    text-align: center;    
    justify-content: center;
    transform: translate(115%, 0%);
}

.button-login{
    /* position: absolute; */
    /* display: block; */
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    margin: auto;
    padding: auto;
    transform: translate(100%, 100%);
    border: 1px solid rgb(128, 128, 128);
}

.filigrane{
    /* background-image:url('../image/logo_dgsr_2.png'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    filter:alpha(opacity=50);
    opacity: 0.9;
    -moz-opacity:1;
}

.login_center{
    margin: 0;
    width: 500px;
    /* height: 385px; */
    border: 1px solid rgb(128, 128, 128);
    padding: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    background: silver;
    vertical-align: middle;
    /* margin-top: -75px;
    padding-left: -75px; */
    /* -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
    transform: translate(-50%, -50%);
    border-radius: 20px;
    /* border-color: black;
    border:3px; */
}

.fond_bar_entete{
    background: dodgerblue;
    background-color: dodgerblue;
    margin: 0;
    padding: 0;
}

.marge_menu{
    margin-left: 5px;
}

.box{
    background-color: white;
    /* border-top: 5px solid dodgerblue; */
    /* border-top: 5px solid rgb(128, 128, 128); */
    border-top: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.box-verificateur{
    background-color: white;
    /* border-top: 5px solid rgb(160, 20, 32); */
    border-top: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.box-anomalie{
    background-color: white;
    /* border-top: 5px solid rgb(17, 189, 74); */
    border-top: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.box-header{
    text-align: center;    
    margin: auto; 
    padding: auto;
    font-weight: bold;
    font-size: 30px;
    /* background-color: rgb(212, 210, 210); */
    background-color: #0cc2dd;
    margin: -10px;
    padding: 10px;
}

.box-header-right{
    content: url("/images/logo_dgsr.png") no-repeat;
    text-align: center;    
    margin: auto; 
    padding: auto;
    margin: -10px;
    padding: 10px;
    width: 50px;
    height: 50px;
}

.box-header-left{
    content: url("/images/logo_gn.png") no-repeat;
    text-align: center;    
    margin: auto; 
    padding: auto;
    margin: -10px;
    padding: 10px;
    width: 50px;
    height: 50px;
}

.marge-elts{
    margin-top: 20px;
    margin-bottom: 20px;
}

.entete-formulaire{
    text-align: left;    
    margin: auto; 
    padding: auto;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(212, 210, 210);
    margin: -10px;
    padding: 10px;
}

.entete-formulaire-verificateur{
    text-align: left;    
    margin: auto; 
    padding: auto;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(80, 16, 16);
    margin: -10px;
    padding: 10px;
}

.entete-formulaire-anomalie{
    text-align: left;    
    margin: auto; 
    padding: auto;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(92, 177, 99);
    margin: -10px;
    padding: 10px;
}

.bordure{
    border-width: 0px;    
    margin: 0px; 
    padding: 0px;
}

.fond_tableau_de_bord{
    background-image:url('../image/logo_dgsr_2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    filter:alpha(opacity=50);
    opacity: 0.9;
    -moz-opacity:1;
}

.center_box {
    margin: auto;
    padding: auto;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
}

.select2-selection {
    height: 40px !important;
    border-color: #ced4da !important;
}