<form method="post" action="{{ path('app_type_mouvement_delete', {'id': type_mouvement.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer cet type de mouvement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_mouvement.id) }}">
    <button class="btn btn-danger kl-bouton"><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</button>
</form>
