{% extends 'base.html.twig' %}

{% block title %}Edition Type de Mouvement{% endblock %}

{% block body %}
    <h1>Edition Type de Mouvement</h1>

    {{ include('type_mouvement/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_type_mouvement_index') }}" class="btn btn-primary kl-bouton"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('type_mouvement/_delete_form.html.twig') }}
{% endblock %}
