{% extends 'base.html.twig' %}

{% block title %}Nouveau Type de Mouvement{% endblock %}

{% block body %}
    <h1>Création Nouveau Type de Mouvement</h1>

    {{ include('type_mouvement/_form.html.twig') }}

    <a href="{{ path('app_type_mouvement_index') }}" class="btn btn-primary kl-bouton"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
