{% extends 'base.html.twig' %}

{% block title %}Edition Materiel{% endblock %}

{% block body %}
    <h1>Edition Materiel</h1>

    {{ include('materiel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reception_liste') }}">back to list</a>

    <!-- {{ include('materiel/_delete_form.html.twig') }} -->
{% endblock %}
