<form method="post" action="{{ path('app_conversion_delete', {'id': conversion.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer cette conversion?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ conversion.id) }}">
    <button class="btn btn-danger kl-bouton"><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</button>
</form>
