{% extends 'base.html.twig' %}

{% block title %}Edition Conversion{% endblock %}

{% block body %}
    <h1>Edition Conversion</h1>

    {{ include('conversion/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_conversion_index') }}" class="btn btn-primary kl-bouton"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('conversion/_delete_form.html.twig') }}
{% endblock %}
