<div class="text-center" style="background-color:#018bd0;color:white;font-weight:bold;font-size:48px;">
    <table style="white-space:normal; width:100%;">
        <tr style="white-space:normal; width:100%;">
            <td>
                <img src="/image/logo_gn.png" alt="Logo GN" style="width:100px;font-size:12px;padding-right:10px;padding-left:10px;">
            </td>
            <td style="white-space:normal; width:100%;">
                OUTILS POUR LA GESTION DES STOCKS ET DES MATERIELS
            </td>
            <td>
                <img src="/image/logo_dgsr.png" alt="Logo DGSR" style="width:100px;font-size:12px;padding-right:10px;padding-left:10px;">
            </td>
        </tr>
    </table>
    <table style="white-space:normal; width:100%;">
        <tr style="white-space:normal; width:100%;">
            <td style="white-space:normal; width:100%;">
                <div class="text-center" style=";color:white;font-weight:bold;font-size:24px;">
                    Utilisateur connecté : {{ app.user.username }}
                </div>
            </td>
            <td style="white-space:normal; width:20%;">
                <div class="text-right" style="padding-right:20px;padding-left:20px;">
                    <a href="{{ path('app_logout') }}" type="button" class="btn btn-light"> <i class="fas fa-sign-out-alt"></i> Déconnecter</a>
                </div>
            </td>
        </tr>
    </table>
</div>