{% if is_granted('ROLE_USER_AUTORISED') %}
    <li class="nav-item" style="background-color:#0b7adb;">
        <img src="/image/banniere_dgsr.png" class="img-fluid" alt="Image en-tête de la DGSR">
    </li>
{% endif %}