<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <div class="sidebar">
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            {% include 'fichier_interface/logo_entete_menu.html.twig' %}
            {% include 'fichier_interface/gestion_materiel.html.twig' %}
            {% include 'fichier_interface/gestion_stock.html.twig' %}
            {% include 'fichier_interface/gestionnaire.html.twig' %}
            {% include 'fichier_interface/donnee_de_base.html.twig' %}
        </ul>
    </nav>
    </div>
</aside>