{% extends 'base.html.twig' %}

{% block title %}Edition Materièl{% endblock %}

{% block body %}
    <h1>Edition Materièl</h1>

    {{ include('materiel/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_materiel_index') }}" class="btn btn-primary kl-bouton"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('materiel/_delete_form.html.twig') }}
{% endblock %}
