{% extends 'base.html.twig' %}

{% block title %}Nouveau Mouvement{% endblock %}

{% block body %}
    <h1>Création Nouveau Mouvement</h1>

    {{ include('mouvement/_form.html.twig') }}

    <a href="{{ path('app_mouvement_index') }}" class="btn btn-primary kl-bouton"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
