<form method="post" action="{{ path('app_unite_delete', {'id': unite.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer cet unité?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ unite.id) }}">
    <button class="btn btn-danger kl-bouton"><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</button>
</form>
