{% extends 'base.html.twig' %}

{% block title %}Edition Unité{% endblock %}

{% block body %}
    <h1>Edition Unité</h1>

    {{ include('unite/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_unite_index') }}" class="btn btn-primary kl-bouton"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('unite/_delete_form.html.twig') }}
{% endblock %}
