{% extends 'base.html.twig' %}

{% block title %}Nouveau Unité{% endblock %}

{% block body %}
    <h1>Création Nouveau Unité</h1>

    {{ include('unite/_form.html.twig') }}

    <a href="{{ path('app_unite_index') }}" class="btn btn-primary kl-bouton"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
