{% extends 'base.html.twig' %}

{% block title %}Commande Materiel{% endblock %}

{% block body %}
    <h1>Nouveau commande materiel</h1>

    {{ include('materiel/_form.html.twig') }}

    <a href="{{ path('app_materiel_index') }}">Retour</a>
{% endblock %}
