{% extends 'base.html.twig' %}

{% block title %}Commande Matériel{% endblock %}

{% block body %}
    <h1>Nouveau Commande de Matériel</h1>

    {{ include('materiel/_form.html.twig') }}

    <a href="{{ path('app_materiel_index') }}" class="btn btn-primary kl-bouton"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
