<form method="post" action="{{ path('app_genre_produit_delete', {'id': genre_produit.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer cet genre de produit');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ genre_produit.id) }}">
    <button class="btn btn-danger kl-bouton"><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</button>
</form>
