{% extends 'base.html.twig' %}

{% block title %}Nouveau Genre de Produit{% endblock %}

{% block body %}
    <h1>Création Nouveau Genre de Produit</h1>

    {{ include('genre_produit/_form.html.twig') }}

    <a href="{{ path('app_genre_produit_index') }}" class="btn btn-primary kl-bouton"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}
