{% extends 'base.html.twig' %}

{% block title %}Edition Etat{% endblock %}

{% block body %}
    <h1>Edition Etat</h1>

    {{ include('etat/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_etat_index') }}" class="btn btn-primary kl-bouton"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('etat/_delete_form.html.twig') }}
{% endblock %}
