<form method="post" action="{{ path('app_stock_delete', {'id': stock.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer cet stock?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stock.id) }}">
    <button class="btn btn-danger kl-bouton"><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</button>
</form>
