{% extends 'base.html.twig' %}

{% block title %}Nouveau Stock{% endblock %}

{% block body %}
    <h1>Création Nouveau Stock</h1>

    {{ include('stock/_form.html.twig') }}

    <a href="{{ path('app_stock_index') }}" class="btn btn-primary kl-bouton"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
{% endblock %}