{% extends 'base.html.twig' %}

{% block title %}Ajout Materiel{% endblock %}

{% block body %}
    <h1>Ajout Materiel</h1>

    {{ include('materiel/_form.html.twig') }}

    <a href="{{ path('app_materiel_index') }}">Retour</a>
{% endblock %}

