<form method="post" action="{{ path('app_type_produit_delete', {'id': type_produit.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer cet type de produit?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_produit.id) }}">
    <button class="btn btn-danger kl-bouton"><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</button>
</form>
