{% extends 'base.html.twig' %}

{% block title %}Edition Type de Produit{% endblock %}

{% block body %}
    <h1>Edition Type de Produit</h1>

    {{ include('type_produit/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_type_produit_index') }}" class="btn btn-primary kl-bouton"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>

    {{ include('type_produit/_delete_form.html.twig') }}
{% endblock %}
